.env


# Build output
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/junit/
/junit/

node_modules/

/har/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/junit/
.yarn/install-state.gz
.DS_Store

output/

config.json
*.log