FORMAT: 1A
HOST: https://prod-api.zephyr4jiracloud.com/connect

# Zephyr Squad Cloud REST API


Zephyr Squad Cloud REST API allows to access test assets.


Authentication: Use JWT authentication for Zephyr REST API authentication, provide Zephyr AccessKey and secretkey. Zephyr server responds
with a cookie containing acpt token. Please use cookies for authentication.

Note: JWT authentication requires username, accountId(OPTIONAL) and tenantId to generate accessKey and secretKey.

If you use custom JWT generator, please use the following context as JWT claim, Since accountId is mandatory field:
<br />
&nbsp;&nbsp;{<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"context": {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"user": {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"accountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234"
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />}<br />
JWT Reference: https://developer.atlassian.com/cloud/jira/platform/understanding-jwt/

More details: https://support.smartbear.com/zephyr-squad-cloud-v1/docs/en/zephyr-squad-cloud-rest-api/generating-a-jwt-authentication-token-for-zephyr-squad-cloud-api.html


# Group Attachment
Attachment Resource

## Get Execution Attachment list  [/public/rest/api/1.0/attachment/search/execution{?projectId,issueId,entityId}]
### Get Execution Attachment list  [GET]
Returns list of attachment meta-data associated to the execution.
 


+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment
    + entityId (required,  String) ... entityId of Attachment


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [{"id":"0001479249374815-fa312653ffffd5ee-0001","name":"YouTube-Channel-Art.jpg","fileExtension":"jpg","createDate":"11-15-2016 14:36:14","createdBy":"admin","createdByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","size":214226,"comment":"","entityId":"0001479156054097-4676fceeffffec4c-0001","entityType":"execution","cycleId":"0001479155955288-4676fceeffffec4c-0001","versionId":-1,"ztIdIndex":"0001477932565262-320cc225ffffcb40-0001","createDateLong":1479249374803}]


## Get Attachment thumbnail  [/public/rest/api/1.0/attachment/{attachmentId}/thumbnail{?projectId,issueId}]
### Get Attachment thumbnail  [GET]
 Retrieves attachment's thumbnail by attachmentId  


+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment
    + attachmentId (required,  String) ... attachmentId of Attachment


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        File


## Get Teststep Attachment list   [/public/rest/api/1.0/attachment/search/teststep{?projectId,issueId,entityId}]
### Get Teststep Attachment list   [GET]
Returns attachment meta-data associated to the list of Teststep.
 


+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment
    + entityId (required,  String) ... entityId of Attachment


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [{"id":"0001479249374815-fa312653ffffd5ee-0001","name":"YouTube-Channel-Art.jpg","fileExtension":"jpg","createDate":"11-15-2016 14:36:14","createdBy":"admin","createdByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","size":214226,"comment":"","entityId":"0001479156054097-4676fceeffffec4c-0001","entityType":"execution","cycleId":"0001479155955288-4676fceeffffec4c-0001","versionId":-1,"ztIdIndex":"0001477932565262-320cc225ffffcb40-0001","createDateLong":1479249374803}]
        

## Get StepResult Attachment list   [/public/rest/api/1.0/attachment/search/stepresult{?projectId,issueId}]
### Get StepResult Attachment list   [POST]
Returns attachment meta-data associated to the list of Step Result(s).
 

+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment

+ Request ()
stepResultId=0001484157590227-242ac112-0001&stepResultId=0001484157590200-242ac112-0001
        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"0001479249470823-fa312653ffffd5ee-0001":[],"0001479249470841-fa312653ffffd5ee-0001":[{"id":"0001479249877899-fa312653ffffd5ee-0001","ztId":"0001477932565262-320cc225ffffcb40-0001","name":"a.jpg","fileExtension":"jpg","createDate":"11-15-2016 14:44:37","createdBy":"admin","createdByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","size":102940,"comment":"","entityId":"0001479249470841-fa312653ffffd5ee-0001","entityType":"stepresult","cycleId":"0001479152878248-4676fceeffffec4c-0001","versionId":-1,"ztIdIndex":"0001477932565262-320cc225ffffcb40-0001","createDateLong":1479249877706}]}


## Create Attachment  [/public/rest/api/1.0/attachment{?issueId,versionId,entityName,cycleId,entityId,comment,projectId}]
### Create Attachment  [POST]
 Add one or more attachments to an entity (execution/stepResult). This resource expects a multipart post.  The media-type multipart/form-data is defined in RFC 1867. Most client libraries have classes that make dealing with multipart posts simple.  For instance, in Java the Apache HTTP Components library provides a MultiPartEntity that makes it simple to submit a multipart POST. 
 <table> <thead> <tr> <th>Parameter</th> <th>Type</th> <th>Value</th> <th>Required</th> </tr> </thead> <tbody> <tr> <td>projectId</td> <td>Long</td> <td>10000</td> <td>Y</td> </tr> <tr> <td>versionId</td> <td>Long</td> <td>10001</td> <td>Y</td> </tr> <tr> <td>issueId</td> <td>Long</td> <td>10047</td> <td>Y</td> </tr> <tr> <td>entityName</td> <td>String</td> <td>execution/stepResult</td> <td>Y</td> </tr> <tr> <td>cycleId</td> <td>String</td> <td>0001579842076001-42e2be69451-0001</td> <td>Y</td> </tr> <tr> <td>entityId</td> <td>String</td> <td>0001479842076551-42e2be69451-0001</td> <td>Y</td> </tr> <tr> <td>comment</td> <td>String</td> <td>Sample comment</td> <td>N</td> </tr> </tbody></table> 


+ Parameters
    + issueId (required,  String) ... issueId of Attachment
    + versionId (required,  Long) ... versionId of Attachment
    + entityName (required,  String) ... entityName of Attachment
    + cycleId (required,  String) ... cycleId of Attachment
    + entityId (required,  String) ... entityId of Attachment
    + comment (required,  String) ... comment of Attachment
    + projectId (required,  String) ... projectId of Attachment


+ Request (multipart/form-data)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [{"id":"0001479249223490-fa312653ffffd5ee-0001","ztId":"0001477932565262-320cc225ffffcb40-0001","name":"amazon-order-wrong.pdf","fileExtension":"pdf","createDate":"11-15-2016 14:33:43","createdBy":"admin","createdByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","size":156039,"comment":"","entityId":"0001479156054097-4676fceeffffec4c-0001","entityType":"execution","cycleId":"0001479155955288-4676fceeffffec4c-0001","versionId":-1,"ztIdIndex":"0001477932565262-320cc225ffffcb40-0001","createDateLong":1479249223250}]


## Get and Delete Attachment image  [/public/rest/api/1.0/attachment/{attachmentId}{?projectId,issueId}]
### Get Attachment image  [GET]
 Retrieves attachment meta-data by attachmentId  


+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment
    + attachmentId (required,  String) ... attachmentId of Attachment


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        File


### Delete Attachment  [DELETE]
 Deletes the attachment by attachmentId  


+ Parameters
    + projectId (required,  String) ... projectId of Attachment
    + issueId (required,  String) ... issueId of Attachment
    + attachmentId (required,  String) ... attachmentId of Attachment


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"message":"attachment 0001481796768777-242ac112-0001 successfully deleted","timestamp":"2016-12-15"}



# Group Chart
Chart Resource

## Get Tests created  [/public/rest/api/1.0/chart/tests/created{?daysPrevious,periodName,projectId}]
### Get Tests created  [GET]
 Retrieves data based on duration for Tests created over a period of daily/monthly/yearly on a per project basis. If days and period are both passed in, period value will take precedence over days


+ Parameters
    + daysPrevious (required,  Long) ... daysPrevious of Chart
    + periodName (required,  String) ... periodName of Chart
    + projectId (required,  Long) ... projectId of Chart


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"TestsCreationPeriod":30,"TestsCreationMap":{"1476601200000":0,"1476687600000":0,"1476774000000":0,"1476860400000":0,"1476946800000":0,"1477033200000":0,"1477119600000":0,"1477206000000":0,"1477292400000":0,"1477378800000":0,"1477465200000":0,"1477551600000":0,"1477638000000":0,"1477724400000":0,"1477810800000":0,"1477897200000":27,"1477983600000":0,"1478070000000":32,"1478156400000":2,"1478242800000":0,"1478329200000":0,"1478415600000":0,"1478505600000":0,"1478592000000":0,"1478678400000":0,"1478764800000":1,"1478851200000":0,"1478937600000":0,"1479024000000":0,"1479110400000":0,"1479196800000":0},"TestsCreationCount":62}


## Get Executions created [/public/rest/api/1.0/chart/executions/created{?daysPrevious,periodName,projectId}]
### Get Executions created [GET]
 Retrieves data based on duration for executions performed over a period of monthly/yearly on a per project basis. If days and period are both passed in, period value will take precedence over days


+ Parameters
    + daysPrevious (required,  Long) ... daysPrevious of Chart
    + periodName (required,  String) ... periodName of Chart
    + projectId (required,  Long) ... projectId of Chart


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"data":{"1476601200000":{"total":0,"executed":0},"1476687600000":{"total":0,"executed":0},"1476774000000":{"total":0,"executed":0},"1476860400000":{"total":0,"executed":0},"1476946800000":{"total":0,"executed":0},"1477033200000":{"total":0,"executed":0},"1477119600000":{"total":0,"executed":0},"1477206000000":{"total":0,"executed":0},"1477292400000":{"total":0,"executed":0},"1477378800000":{"total":0,"executed":0},"1477465200000":{"total":0,"executed":0},"1477551600000":{"total":0,"executed":0},"1477638000000":{"total":0,"executed":0},"1477724400000":{"total":0,"executed":0},"1477810800000":{"total":0,"executed":0},"1477897200000":{"total":0,"executed":0},"1477983600000":{"total":0,"executed":0},"1478070000000":{"total":0,"executed":0},"1478156400000":{"total":0,"executed":0},"1478242800000":{"total":0,"executed":0},"1478329200000":{"total":0,"executed":0},"1478415600000":{"total":0,"executed":0},"1478505600000":{"total":0,"executed":0},"1478592000000":{"total":0,"executed":0},"1478678400000":{"total":0,"executed":0},"1478764800000":{"total":0,"executed":0},"1478851200000":{"total":0,"executed":0},"1478937600000":{"total":0,"executed":0},"1479024000000":{"total":0,"executed":0},"1479110400000":{"total":46,"executed":46},"1479196800000":{"total":0,"executed":0}}}



# Group Config
Config Resource

## Get General Configuration  [/public/rest/api/1.0/config/generalinformation]
### Get General Configuration  [GET]
Retrieves General Configuration information about the Test Issue Type. 



+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"issueType": {"self": "https://test.atlassian.net/rest/api/2/issuetype/10000","id": 10000, "name": "Test","description": "This JIRA Issue Type is used to create Zephyr Tests.", "iconUri": "https://test.atlassian.net/secure/viewavatar?size=xsmall&avatarId=11001&avatarType=issuetype","subtask":false}}



# Group Cycle
Cycle Resource

## Creates new cycle [/public/rest/api/1.0/cycle{?expand,clonedCycleId}]
### Creates new cycle [POST]
Creates a Cycle from a JSON representation. 
An Adhoc cycle is created by the system and any attempt to create it by a user will be rejected or ignored. 
 If no VersionId is passed in the request, it will be defaulted to an unscheduled version
 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Test Cycle</td><td>Y</td></tr>  <tr> <td>build</td> <td>String</td> <td>build 1.0</td> <td>N</td></tr>  <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td> <td>N</td></tr>  <tr> <td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td> <td>N</td> </tr> <tr> <td>startDate</td> <td>long</td> <td>1485278607</td> <td>N</td></tr> <tr><td>endDate</td> <td>long</td> <td>1485302400</td> <td>N</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table> 


+ Parameters
    + expand (optional, String) ... expand of Cycle (passing expand=executionSummaries in Query will have Execution Summary for the Cycle in Response)
    + clonedCycleId (optional, String) ... clonedCycleId of Cycle


+ Request (application/json)

    {
      "name": "Test Cycle",
      "build": "1.0",
      "environment": "Bug Fix",
      "description": "This contains the zephyr tests for a version",
      "startDate": "2018-12-15",
      "endDate": "2018-12-22",
      "versionId": 10008,
      "clearCustomFieldsFlag": true,
      "projectId": 10002
    }

    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "totalExecutionTime": null,
          "createdByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
          "endDate": "2018-12-22",
          "tenantKey": "ODdhMjQ4MTktOTkwZC0zZmQ3LTg1ZjEtNTJkYjk2MGUwMDA1",
          "totalExecutions": 0,
          "description": "This contains the zephyr tests for a version",
          "cycleIndex": "6b4becb7-986c-4ddb-9cc0-fa6c83a5eadf",
          "ztId": "fe1c711f-c226-476d-bf40-b8ee71f1e955",
          "createdByDisplayName": "Zephyr TM",
          "totalDefects": null,
          "totalLoggedTimeFormatted": null,
          "action": "collapse",
          "modifiedBy": null,
          "id": "6b4becb7-986c-4ddb-9cc0-fa6c83a5eadf",
          "class": "com.thed.zephyr.connect.vo.GroupedExecutionSummary",
          "executionSummaries": [
            {
              "count": 0,
              "executionStatusKey": -1,
              "executionStatusName": "UNEXECUTED",
              "executionStatusDescription": "The test has not yet been executed.",
              "executionStatusColor": "#A0A0A0"
            },
            {
              "count": 0,
              "executionStatusKey": 1,
              "executionStatusName": "PASS",
              "executionStatusDescription": "Test was executed and passed successfully.",
              "executionStatusColor": "#75B000"
            },
            {
              "count": 0,
              "executionStatusKey": 2,
              "executionStatusName": "FAIL",
              "executionStatusDescription": "Test was executed and failed.",
              "executionStatusColor": "#CC3300"
            },
            {
              "count": 0,
              "executionStatusKey": 3,
              "executionStatusName": "WIP",
              "executionStatusDescription": "Test execution is a work-in-progress.",
              "executionStatusColor": "#F2B000"
            },
            {
              "count": 0,
              "executionStatusKey": 4,
              "executionStatusName": "BLOCKED",
              "executionStatusDescription": "The test execution of this test was blocked for some reason.",
              "executionStatusColor": "#6693B0"
            }
          ],
          "totalLoggedTime": null,
          "offset": "0",
          "modifiedByAccountId": null,
          "totalExecuted": 0,
          "creationDate": "2018-12-15",
          "totalCycleExecuted": 0,
          "projectCycleVersionIndex": "10002_10008",
          "executionsAwaitingLog": null,
          "sprintId": null,
          "environment": "Bug Fix",
          "versionId": 10008,
          "totalCycleExecutions": 0,
          "build": "1.0",
          "createdBy": "admin",
          "name": "Test Cycle",
          "totalExecutionTimeFormatted": null,
          "totalFolders": 0,
          "projectId": 10002,
          "startDate": "2018-12-15"
        }

## Copy Execution to Cycle [/public/rest/api/1.0/cycle/{cycleId}/copy]
### Copy Execution to Cycle [POST]
Copies the selected Execution to the provided Cycle if it belongs to the same project and matches criteria. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. Once the request is processed, the jobProgress will populate the message field with the executions that were successfully copied
 <table border="1" width="100%"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>["0001456662091782-5a6ee13a3f6b-0001","0001456662092010-5a6ee13a3f6b-0001"]</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearStatusFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearAssignmentsFlag</td> <td>Boolean</td> <td>true</td> </tr> </tbody> </table>  


+ Parameters
    + cycleId (required,  String) ... cycleId of Cycle


+ Request (application/json)

        {"executions":["0001479277915060-fa312653ffffd5ee-0001","0001479365053023-725f24aeffff8568-0001","0001479405945581-725f24aeffff8568-0001","0001479515644605-62ad9af21f8b-0001","0001479515645098-62ad9af21f8b-0001","0001479517127726-62ad9af21f8b-0001","0001479517128256-62ad9af21f8b-0001","0001479517128426-62ad9af21f8b-0001"],"projectId":10000,"versionId":-1,"clearDefectMappingFlag":true,"clearStatusFlag":true,"clearAssignmentsFlag":true}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/text)

        0001456662339082-5a6ee13a3f6b-0001


## Update Cycle [/public/rest/api/1.0/cycle/{cycleId}]
### Update Cycle [PUT]
Updates the specified Cycle from a JSON representation.<table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr><td>name</td> <td>String</td> <td>Update Cycle</td><td>Y</td></tr> <tr> <td>build</td> <td>String</td> <td>build 2.0</td><td>N</td></tr> <tr> <td>environment</td> <td>String</td> <td>Bug Fix</td><td>N</td> </tr> <tr><td>description</td> <td>String</td> <td>This contains the zephyr tests for a version</td><td>N</td></tr> <tr> <td>startDate</td> <td>long</td> <td>1485278607</td><td>N</td></tr> <tr><td>endDate</td> <td>long</td> <td>1485302400</td><td>N</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10100</td><td>Y</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table> 


+ Parameters
    + cycleId (required,  String) ... cycleId of Cycle


+ Request (application/json)

        {
          "name": "Test Cycle",
          "build": "1.1",
          "environment": "Bug Fix",
          "description": "This contains the zephyr tests for a version",
          "startDate": "2018-12-15",
          "endDate": "2018-12-22",
          "versionId": 10008,
          "clearCustomFieldsFlag": true,
          "projectId": 10002,
          "id": "6b4becb7-986c-4ddb-9cc0-fa6c83a5eadf",
          "sprintId": null
        }

    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "totalExecutionTime": null,
          "createdByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
          "endDate": "2018-12-22",
          "tenantKey": "ODdhMjQ4MTktOTkwZC0zZmQ3LTg1ZjEtNTJkYjk2MGUwMDA1",
          "totalExecutions": 0,
          "description": "This contains the zephyr tests for a version",
          "cycleIndex": "6b4becb7-986c-4ddb-9cc0-fa6c83a5eadf",
          "ztId": "fe1c711f-c226-476d-bf40-b8ee71f1e955",
          "createdByDisplayName": "Zephyr TM",
          "totalDefects": null,
          "totalLoggedTimeFormatted": null,
          "action": "collapse",
          "modifiedBy": "admin",
          "id": "6b4becb7-986c-4ddb-9cc0-fa6c83a5eadf",
          "class": "com.thed.zephyr.connect.vo.GroupedExecutionSummary",
          "executionSummaries": [
            {
              "count": 0,
              "executionStatusKey": -1,
              "executionStatusName": "UNEXECUTED",
              "executionStatusDescription": "The test has not yet been executed.",
              "executionStatusColor": "#A0A0A0"
            },
            {
              "count": 0,
              "executionStatusKey": 1,
              "executionStatusName": "PASS",
              "executionStatusDescription": "Test was executed and passed successfully.",
              "executionStatusColor": "#75B000"
            },
            {
              "count": 0,
              "executionStatusKey": 2,
              "executionStatusName": "FAIL",
              "executionStatusDescription": "Test was executed and failed.",
              "executionStatusColor": "#CC3300"
            },
            {
              "count": 0,
              "executionStatusKey": 3,
              "executionStatusName": "WIP",
              "executionStatusDescription": "Test execution is a work-in-progress.",
              "executionStatusColor": "#F2B000"
            },
            {
              "count": 0,
              "executionStatusKey": 4,
              "executionStatusName": "BLOCKED",
              "executionStatusDescription": "The test execution of this test was blocked for some reason.",
              "executionStatusColor": "#6693B0"
            }
          ],
          "totalLoggedTime": null,
          "offset": "0",
          "modifiedByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
          "totalExecuted": 0,
          "creationDate": null,
          "totalCycleExecuted": 0,
          "projectCycleVersionIndex": "10002_10008",
          "executionsAwaitingLog": null,
          "sprintId": null,
          "environment": "Bug Fix",
          "versionId": 10008,
          "totalCycleExecutions": 0,
          "build": "1.1",
          "createdBy": "admin",
          "name": "Test Cycle",
          "totalExecutionTimeFormatted": null,
          "totalFolders": 0,
          "projectId": 10002,
          "startDate": "2018-12-15"
        }
        
        
## Export Cycle  [/public/rest/api/1.0/cycle/{cycleId}/export{?versionId,exportType,projectId,folderId}]
### Export Cycle  [GET]
Export's Cycle for the given Project/Version/Cycle in HTML/CSV/XML. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. Once the request is processed, the jobProgress will populate the summaryMessage field with the fileName which should than be passed in to /public/rest/api/1.0/cycle/export/download/:fileName to download the file.


+ Parameters
    + versionId (required,  Long) ... versionId of Cycle
    + exportType (required,  String) ... exportType of Cycle
    + cycleId (required,  String) ... cycleId of Cycle
    + projectId (required,  Long) ... projectId of Cycle
    + folderId (optional, String) ... folderId of Cycle


+ Request (application/json)



    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (text/plain)



## Delete Cycle  [/public/rest/api/1.0/cycle/{cycleId}{?versionId,projectId}]
### Delete Cycle  [DELETE]
Deletes the Cycle. All the entities including executions will be deleted along with the cycle 


+ Parameters
    + versionId (required,  Long) ... versionId of Cycle
    + cycleId (required,  String) ... cycleId of Cycle
    + projectId (required,  Long) ... projectId of Cycle


+ Request (application/json)

        {"projectId":10202,"versionId":"-1,10308","cycleId":"0001479126116358-242ac112-0001"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"message":"cycle 0001481790025653-242ac112-0001 successfully deleted","timestamp":"2016-12-15"}


## Move Execution by Cycle [/public/rest/api/1.0/cycle/{cycleId}/move]
### Move Execution by Cycle [POST]
Move the execution from one cycle to another if it belongs to the same project. If the execution is copied to the non-adhoc cycle, it will be moved only if the testcase was not added to that cycle. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. Once the request is processed, the jobProgress will populate the message field with the executions that were successfully moved 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"> <b>JSON Object Details</b> </td> </tr> <tr> <td><b>Parameters</b></td> <td><b>Type</b></td> <td><b>Value</b></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001456662091782-5a6ee13a3f6b-0001&quot;,&quot;0001456662092010-5a6ee13a3f6b-0001&quot;]</td> </tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearStatusFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>clearAssignmentsFlag</td> <td>Boolean</td> <td>true</td> </tr> </tbody></table>  


+ Parameters
    + cycleId (required,  String) ... cycleId of Cycle


+ Request (application/json)

        {"executions":["0001456662091782-5a6ee13a3f6b-0001","0001456662092010-5a6ee13a3f6b-0001"],"projectId":10000,"versionId":-1,"clearDefectMappingFlag":true,"clearStatusFlag":true,"clearAssignmentsFlag":true}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/text)

        0001456662339082-5a6ee13a3f6b-0001


## Export cycle download [/public/rest/api/1.0/cycle/export/download/{fileName}]
### Export cycle download [GET]
Downloads the file with Execution/Cycle/TestStep/StepResult data. 


+ Parameters
    + fileName (required,  String) ... fileName of Cycle


+ Request (application/json)



    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/x-download)



## Get List of Cycles  [/public/rest/api/1.0/cycles/search{?versionId,expand,projectId}]
### Get List of Cycles  [GET]
Returns a list of cycle(s) and an expandos driven executionSummaries for each cycle for a given project and version along with grouped executions. 


+ Parameters
    + versionId (required,  Long) ... versionId of Cycle
    + expand (optional, String) ... expand of Cycle (expand=executionSummaries will return Execution Summary for each cycle)
    + projectId (required,  Long) ... projectId of Cycle


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [
          {
            "action": "expand",
            "build": "1.0",
            "class": "com.thed.zephyr.connect.vo.GroupedExecutionSummary",
            "createdBy": "admin",
            "createdByDisplayName": "admin",
            "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "cycleIndex": "0001513838430954-242ac112-0001",
            "description": "Test Manual Cycle",
            "endDate": "2017-12-22",
            "environment": "QA",
            "executionSummaries": [
              {
                "count": 2,
                "executionStatusColor": "#A0A0A0",
                "executionStatusDescription": "The test has not yet been executed.",
                "executionStatusKey": -1,
                "executionStatusName": "UNEXECUTED"
              }
            ],
            "id": "0001513838430954-242ac112-0001",
            "modifiedBy": "admin",
            "modifiedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "name": "Manual Cycle",
            "offset": "0",
            "projectCycleVersionIndex": "10930_12829",
            "projectId": 10930,
            "sprintId": null,
            "startDate": "2017-12-18",
            "totalCycleExecuted": 0,
            "totalCycleExecutions": 0,
            "totalDefects": 0,
            "totalExecuted": 0,
            "totalExecutions": 2,
            "totalFolders": 2,
            "versionId": 12829
          },
          {
            "action": "collapse",
            "build": "b1",
            "class": "com.thed.zephyr.connect.vo.GroupedExecutionSummary",
            "createdBy": "admin",
            "createdByDisplayName": "admin",
            "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "cycleIndex": "0001513839053908-242ac112-0001",
            "description": "Test Regression Cycle",
            "endDate": "2017-12-22",
            "environment": "Staging",
            "executionSummaries": [
              {
                "count": 4,
                "executionStatusColor": "#A0A0A0",
                "executionStatusDescription": "The test has not yet been executed.",
                "executionStatusKey": -1,
                "executionStatusName": "UNEXECUTED"
              }
            ],
            "id": "0001513839053908-242ac112-0001",
            "modifiedBy": "tester",
            "modifiedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "name": "Regression Cycle",
            "offset": "0",
            "projectCycleVersionIndex": "10930_12829",
            "projectId": 10930,
            "sprintId": null,
            "startDate": "2017-12-18",
            "totalCycleExecuted": 0,
            "totalCycleExecutions": 2,
            "totalDefects": 0,
            "totalExecuted": 0,
            "totalExecutions": 4,
            "totalFolders": 2,
            "versionId": 12829
          }
        ]

## Get Cycle  [/public/rest/api/1.0/cycle/{cycleId}{?versionId,expand,projectId}]
### Get Cycle  [GET]
Returns a full representation of the Cycle for the given version.
 An Cycle JSON consists of the cycle details and an expandos driven executionSummaries for the cycle. 


+ Parameters
    + versionId (required,  Long) ... versionId of Cycle
    + expand (optional, String) ... expand of Cycle
    + cycleId (required,  String) ... cycleId of Cycle
    + projectId (required,  Long) ... projectId of Cycle


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "folders": {
            "modifiedTime": null,
            "tenantKey": "amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=",
            "cycleId": "0001515705175488-242ac112-0001",
            "description": "",
            "ztId": "0001448076145258-242ac116-0001",
            "sprintId": null,
            "versionId": 10005,
            "createdBy": "admin",
            "name": "Test Folder",
            "createdTime": 1515705650130,
            "modifiedBy": null,
            "id": "0001515705650130-242ac112-0001",
            "class": "com.thed.zephyr.connect.model.nosql.Folder",
            "projectId": 10001
          },
          "tenantKey": "amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=",
          "endDate": null,
          "description": "",
          "cycleIndex": "0001515705175488-242ac112-0001",
          "ztId": "0001448076145258-242ac116-0001",
          "projectCycleVersionIndex": "10001_10005",
          "createdByDisplayName": "admin",
          "sprintId": null,
          "environment": "",
          "versionId": 10005,
          "build": "",
          "createdBy": "admin",
          "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
          "name": "Test Cycle",
          "modifiedBy": "admin",
          "modifiedByAccountId": "223456:1234abcd-1234-abcd-1234-1234abcd1234",
          "totalFolders": 1,
          "id": "0001515705175488-242ac112-0001",
          "class": "com.thed.zephyr.connect.model.nosql.Cycle",
          "projectId": 10001,
          "startDate": null
        }


# Group Execution
Execution Resource

## Get List of Executions  [/public/rest/api/1.0/executions/search{?executionId}]
### Get List of Executions  [POST]
Retrieves the execution based on the ZQL. The response of this API is paginated. It will return a max of 50 executions and  will also return the totalCount of executions that ZQL returns, so that one could change the offset accordingly and make paginated calls to this API. 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>maxRecords</td> <td>Integer</td> <td>20</td> </tr> <tr> <td>offset</td> <td>Integer</td> <td>0</td> </tr> <tr> <td>zql</td> <td>String</td> <td>field = \&quot;value\&quot;</td> </tr> </tbody></table> 


+ Parameters
    + executionId (required,  String) ... executionId of Execution


+ Request (application/json)

        {"maxRecords":20,"offset":0,"zql":"field = "value"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"currentOffset":13,"prevExecution":{"issueId":10005,"id":"0001489061661878-242ac112-0001","projectId":10000},"totalCount":14,"nextExecution":{"issueId":10007,"id":"0001489061662475-242ac112-0001","projectId":10000}}


## Delete Execution  [/public/rest/api/1.0/execution/{executionId}{?issueId}]
### Delete Execution  [DELETE]
Delete an execution. 
 Deleting an execution will also delete the associated attachments/stepresults and will remove the defect remote links. 


+ Parameters
    + executionId (required,  String) ... executionId of Execution
    + issueId (required,  Long) ... issueId of Execution


+ Request (application/json)



    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)
    
        {"message": "execution 0001481629322884-242ac112-0001 successfully deleted","timestamp": "2016-12-14"}


## Export Executions  [/public/rest/api/1.0/executions/export]
### Export Executions  [POST]
Exports the execution(s) based on the ZQL and the executions selected. It is mandatory to send the ZQL with the request. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. 
 Once the request is processed, the jobProgress will populate the summaryMessage field with the fileName which should than be passed in to /public/rest/api/1.0/cycle/export/download/:fileName to download the file 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr> <td>exportType</td> <td>String</td> <td>xml/html/csv</td><td>Y</td> </tr><tr> <td>expand</td> <td>String</td> <td>teststeps</td><td>N</td></tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001456662092010-5a6ee13a3f6b-0001&quot;]</td><td>Y</td> </tr> <tr> <td>startIndex</td> <td>Integer</td> <td>0</td> <td>N</td></tr> <tr> <td>maxAllowed</td> <td>Boolean</td> <td>true</td><td>N</td> </tr> <tr> <td>zqlQuery</td> <td>String</td> <td>&quot;&quot;</td> <td>Y</td></tr> </tbody></table> 



+ Request (application/json)

        {"exportType":"xml","expand":"teststeps","executions":["0001456662092010-5a6ee13a3f6b-0001"],"startIndex":0,"maxAllowed":true,"zqlQuery":"project=TST"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (text/plain)

        0001456663770473-5a6ee13a3f6b-0001


## Get List of Executions  [/public/rest/api/1.0/executions{?issueId,offset,size,projectId}]
### Get List of Executions  [GET]
Retrieves execution(s) based on the passed in parameters. 
 Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions. 


+ Parameters
    + issueId (required,  Long) ... issueId of Execution
    + offset (optional, Integer) ... offset of Execution
    + size (optional, Integer) ... size of Execution
    + projectId (required,  Long) ... projectId of Execution


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "execution": {
            "execution": {
              "id": "0001456664462103-5a6ee13a3f6b-0001",
              "issueId": 10000,
              "versionId": -1,
              "projectId": 10000,
              "cycleId": "0001456664262308-5a6ee13a3f6b-0001",
              "orderId": 1,
              "executedBy": "admin",
              "executedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
              "executedOn": "02-28-2016 05:03:57",
              "modifiedBy": "admin",
              "modifiedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
              "createdBy": "admin",
              "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
              "status": {
                "name": "PASS",
                "id": 1,
                "description": "Test was executed and passed successfully.",
                "color": "#75B000",
                "type": 0
              },
              "cycleName": "aaaa",
              "defects": [
                {
                  "id": 10001,
                  "key": "TEST-2",
                  "summary": "BBB",
                  "status": {
                    "self": "http://192.168.1.68:2990/jira/rest/api/2/status/10000",
                    "name": "To Do",
                    "id": 10000,
                    "description": "",
                    "iconUrl": "http://192.168.1.68:2990/jira/images/icons/status_generic.gif"
                  }
                }
              ],
              "stepDefects": [],
              "executionDefectCount": 1,
              "stepDefectCount": 0,
              "totalDefectCount": 1,
              "tenantKey": "amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=",
              "creationDate": "02-28-2016 05:01:02",
              "issueIndex": 10000,
              "projectCycleVersionIndex": "10000_0001456664262308-5a6ee13a3f6b-0001_-1",
              "executionStatusIndex": 1,
              "projectIssueCycleVersionIndex": "10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"
            },
            "issueKey": "TEST-1",
            "issueLabel": "",
            "component": "",
            "issueSummary": "Test Scheduler",
            "projectName": "Test",
            "versionName": "Unscheduled",
            "priority": "Medium",
            "executedByDisplayName": "admin",
            "testStepBeans": null,
            "defectsAsString": "",
            "projectKey": "TEST"
          },
          "executionStatus": {
            "1": {
              "name": "PASS",
              "id": 1,
              "description": "Test was executed and passed successfully.",
              "color": "#75B000",
              "type": 0
            },
            "2": {
              "name": "FAIL",
              "id": 2,
              "description": "Test was executed and failed.",
              "color": "#CC3300",
              "type": 0
            },
            "3": {
              "name": "WIP",
              "id": 3,
              "description": "Test execution is a work-in-progress.",
              "color": "#F2B000",
              "type": 0
            },
            "4": {
              "name": "BLOCKED",
              "id": 4,
              "description": "The test execution of this test was blocked for some reason.",
              "color": "#6693B0",
              "type": 0
            },
            "-1": {
              "name": "UNEXECUTED",
              "id": -1,
              "description": "The test has not yet been executed.",
              "color": "#A0A0A0",
              "type": 0
            }
          }
        }


## Get List of Linked Executions To Issue [/public/rest/api/1.0/executions/search/issue/{issueIdOrKey}{?maxRecords,expand,offset,action}]
### Get List of Linked Executions To Issue [GET]
Gets execution(s) of the linked tests of the isuue 


+ Parameters
    + maxRecords (optional,  Integer ) ... maxRecords of Execution
    + expand (optional,  String) ... expand of Execution
    + offset (optional, Integer) ... offset of Execution
    + issueIdOrKey (required,  String) ... issueIdOrKey of Execution
    + action (required,  String) ... action of Execution


+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "totalExecutionCount": 10,
          "currentOffset": 1,
          "executionStatus": [
            {
              "name": "UNEXECUTED",
              "id": -1,
              "description": "The test has not yet been executed.",
              "color": "#A0A0A0",
              "type": 0
            },
            {
              "name": "PASS",
              "id": 1,
              "description": "Test was executed and passed successfully.",
              "color": "#75B000",
              "type": 0
            },
            {
              "name": "FAIL",
              "id": 2,
              "description": "Test was executed and failed.",
              "color": "#CC3300",
              "type": 0
            },
            {
              "name": "WIP",
              "id": 3,
              "description": "Test execution is a work-in-progress.",
              "color": "#EEAA23",
              "type": 0
            },
            {
              "name": "BLOCKED",
              "id": 4,
              "description": "The test execution of this test was blocked for some reason.",
              "color": "#6693B0",
              "type": 0
            }
          ],
          "stepExecutionStatus": [
            {
              "name": "UNEXECUTED",
              "id": -1,
              "description": "The test has not yet been executed.",
              "color": "#A0A0A0",
              "type": 0
            },
            {
              "name": "FAIL",
              "id": 2,
              "description": "Test was executed and failed.",
              "color": "#E4230D",
              "type": 0
            }
          ],
          "totalCount": 1,
          "searchObjectList": [
            {
              "warningMessage": null,
              "originMessage": null,
              "execution": {
                "id": "0001481178939686-242ac112-0001",
                "issueId": 12800,
                "versionId": -1,
                "projectId": 11300,
                "cycleId": "-1",
                "orderId": 1,
                "executedBy": "admin",
                "executedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
                "executedOn": "12-08-2016 12:40:16",
                "modifiedBy": "admin",
                "modifiedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
                "createdBy": "admin",
                "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
                "status": {
                  "name": "!@#$%^&",
                  "id": 7,
                  "description": "",
                  "color": "#C41440",
                  "type": 1
                },
                "cycleName": "Ad hoc",
                "defects": [
                  {
                    "id": 13098,
                    "key": "DAT-7",
                    "summary": "bgh",
                    "status": {
                      "self": "https://demo.atlassian.net/rest/api/2/status/10001",
                      "name": "Done",
                      "id": 10001,
                      "description": "",
                      "iconUrl": "https://demo.atlassian.net/"
                    },
                    "resolution": {
                      "self": "https://demo.atlassian.net/rest/api/2/resolution/10000",
                      "name": "Done",
                      "id": 10000,
                      "description": "Work has been completed on this issue."
                    }
                  }
                ],
                "stepDefects": [],
                "executionDefectCount": 1,
                "stepDefectCount": 0,
                "totalDefectCount": 1,
                "creationDate": "12-08-2016 12:05:39",
                "issueKey": "DAT-1",
                "issueLabel": "",
                "component": "Product",
                "issueSummary": "Application Launch Fails",
                "issueDescription": "",
                "projectName": "Zephyr TM",
                "versionName": "Release 1.0",
                "priority": "Medium",
                "executedByDisplayName": {
                  "defined": true,
                  "orNull": "admin [Administrator]",
                  "empty": false
                },
                "assigneeType": null,
                "assignedToDisplayName": "Zephyr QA",
                "testStepBeans": null,
                "defectsAsString": "",
                "projectKey": "ZEP"
              }
            }
          ]
        }

## Update Execution [/public/rest/api/1.0/execution/{executionId}]
### Update Execution [PUT]
Updates the specified execution from a JSON representation. This API can do the following updates: 
  <ol><li>Assign Execution to a user using the assigneeType field. assigneeType can be currentUser/assignee. In order to change an assignee, one will have to pass in the changeAssignee flag </li> <li>Associate defects to an execution. </li> <li>Update comment for the execution.</li></ol> 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>status</td> <td>Object</td> <td>{&quot;id&quot;:1}</td> </tr> <tr> <td>id</td> <td>String</td> <td>0001456664462103-5a6ee13a3f6b-0001</td> <td>N</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>issueId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>cycleId</td> <td>String</td> <td>0001456664262308-5a6ee13a3f6b-0001</td> <td>Y</td></tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> <td>Y</td></tr> </tbody></table> 


+ Parameters
    + executionId (required,  String) ... executionId of Execution


+ Request (application/json)

        {"status":{"id":1},"id":"0001456664462103-5a6ee13a3f6b-0001","projectId":10000,"issueId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","versionId":-1,"comment":"Comment for execution","defects":"["IZ-1","IZ-2"]","assigneeType":"currentUser/assignee","assignee":"userKey"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "execution": {
            "id": "0001456664462103-5a6ee13a3f6b-0001",
            "issueId": 10000,
            "versionId": -1,
            "projectId": 10000,
            "cycleId": "0001456664262308-5a6ee13a3f6b-0001",
            "orderId": 1,
            "executedBy": "admin",
            "executedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "executedOn": "02-28-2016 05:03:57",
            "modifiedBy": "admin",
            "modifiedByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "createdBy": "admin",
            "createdByAccountId": "123456:1234abcd-1234-abcd-1234-1234abcd1234",
            "status": {
              "name": "PASS",
              "id": 1,
              "description": "Test was executed and passed successfully.",
              "color": "#75B000",
              "type": 0
            },
            "cycleName": "Manual",
            "defects": [],
            "stepDefects": [],
            "executionDefectCount": 0,
            "stepDefectCount": 0,
            "totalDefectCount": 0,
            "tenantKey": "amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=",
            "creationDate": "02-28-2016 05:01:02",
            "issueIndex": 10000,
            "projectCycleVersionIndex": "10000_0001456664262308-5a6ee13a3f6b-0001_-1",
            "executionStatusIndex": 1,
            "projectIssueCycleVersionIndex": "10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"
          },
          "issueKey": "TEST-1",
          "issueLabel": "",
          "component": "",
          "issueSummary": "AAA",
          "projectName": "Test",
          "versionName": "Unscheduled",
          "priority": "Medium",
          "executedByDisplayName": {
            "defined": true,
            "empty": false,
            "orNull": "admin"
          },
          "testStepBeans": null,
          "defectsAsString": "",
          "projectKey": "TEST"
        }

## Assign Bulk Executions [/public/rest/api/1.0/executions/bulkAssign]
### Assign Bulk Executions [POST]
Assigns all the execution(s) with the assignee type that fits in the search criteria. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. Once the request is processed, the jobProgress will populate the message field with the executions that were successfully assigned 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>assigneeType</td> <td>String</td> <td>currentUser/assignee</td> </tr> <tr> <td>assignee</td> <td>String</td> <td>jiraUserKey</td> </tr></tbody></table> 



+ Request (application/json)

        {"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"assigneeType":"assignee","assignee":"jiraUserKey"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"timeTaken":"0 min, 0 sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}


## Delete Executions in Bulk [/public/rest/api/1.0/executions/delete]
### Delete Executions in Bulk [POST]
Deletes all the execution(s) that fits in the search criteria. This API returns a jobprogressTicket which should be used for making the call to /public/rest/api/1.0/jobprogress/:jobProgressTicket. Once the request is processed, the jobProgress will populate the message field with the executions that were successfully deleted  
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> </tbody></table> 



+ Request (application/json)

        {"executions":["0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"]}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"timeTaken":"0 min, 0 sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834403827-242ac112b-0001,0001462834404266-242ac112b-0001,0001462834404676-242ac112b-0001,0001462858845709-242ac112b-0001,0001462902555866-242ac1130-0001\"}","stepLabel":"","stepMessages":[]}


## Update Execution custom field value [/public/rest/api/1.0/executions/{executionId}/customField]
### Update Execution custom field value [PUT]
Updates the execution custom field value 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>status</td> <td>Integer</td> <td>1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>false</td> </tr> <tr> <td>testStepStatusChangeFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>stepStatus</td> <td>Integer</td> <td>-1</td> </tr> </tbody></table> 


+ Parameters
    + executionId (required,  String) ... executionId of Execution


+ Request (application/json)

        {"customFieldId":"0001519026223763-28f8926f67-0001","value1":{"value":"value"}}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"customFieldId":"0001519026223763-28f8926f67-0001","value1":{"value":"value"}}



## Get Execution  [/public/rest/api/1.0/execution/{executionId}{?issueId,projectId}]
### Get Execution  [GET]
Retrieves Execution and ExecutionStatus by ExecutionId 


+ Parameters
    + executionId (required,  String) ... executionId of Execution
    + issueId (required,  Long) ... issueId of Execution
    + projectId (required,  Long) ... projectId of Execution


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {
          "execution": {
            "execution": {
              "id": "0001456664462103-5a6ee13a3f6b-0001",
              "issueId": 10000,
              "versionId": -1,
              "projectId": 10000,
              "cycleId": "0001456664262308-5a6ee13a3f6b-0001",
              "orderId": 1,
              "executedBy": "admin",
              "executedByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
              "executedOn": "12-08-2018 02:29:08",
              "modifiedBy": "admin",
              "modifiedByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
              "createdBy": "admin",
              "createdByAccountId": "557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d",
              "status": {
                "name": "PASS",
                "id": 1,
                "description": "Test was executed and passed successfully.",
                "color": "#75B000",
                "type": 0
              },
              "cycleName": "Manual",
              "defects": [
                {
                  "id": 10001,
                  "key": "TEST-2",
                  "summary": "Login Failed",
                  "status": {
                    "self": "http://192.168.1.68:2990/jira/rest/api/2/status/10000",
                    "name": "To Do",
                    "id": 10000,
                    "description": "",
                    "iconUrl": "http://192.168.1.68:2990/jira/images/icons/status_generic.gif"
                  }
                }
              ],
              "stepDefects": [],
              "executionDefectCount": 1,
              "stepDefectCount": 0,
              "totalDefectCount": 1,
              "tenantKey": "amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=",
              "creationDate": "02-28-2016 05:01:02",
              "issueIndex": 10000,
              "projectCycleVersionIndex": "10000_0001456664262308-5a6ee13a3f6b-0001_-1",
              "executionStatusIndex": 1,
              "projectIssueCycleVersionIndex": "10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"
            },
            "issueKey": "TEST-1",
            "issueLabel": "",
            "component": "",
            "issueSummary": "Test Execution Custom Fields",
            "projectName": "Test",
            "versionName": "Release 1.0",
            "priority": "Medium",
            "executedByDisplayName": "Zephyr TM",
            "assigneeType": "currentUser",
            "assignedToDisplayName": "Zephyr TM",
            "testStepBeans": null,
            "defectsAsString": "",
            "projectKey": "TEST",
            "plannedExecutionTimeFormatted": "2d",
            "actualExecutionTimeFormatted": "1d",
            "executionWorkflowStatus": "STARTED",
            "workflowLoggedTimedIncreasePercentage": "100.00",
            "workflowCompletePercentage": "50.00",
            "versionReleased": false,
            "customFieldValuesAsString": null,
            "executionWorkflowEnabled": true
          },
          "executionStatus": {
            "1": {
              "name": "PASS",
              "id": 1,
              "description": "Test was executed and passed successfully.",
              "color": "#75B000",
              "type": 0
            },
            "2": {
              "name": "FAIL",
              "id": 2,
              "description": "Test was executed and failed.",
              "color": "#CC3300",
              "type": 0
            },
            "3": {
              "name": "WIP",
              "id": 3,
              "description": "Test execution is a work-in-progress.",
              "color": "#F2B000",
              "type": 0
            },
            "4": {
              "name": "BLOCKED",
              "id": 4,
              "description": "The test execution of this test was blocked for some reason.",
              "color": "#6693B0",
              "type": 0
            },
            "-1": {
              "name": "UNEXECUTED",
              "id": -1,
              "description": "The test has not yet been executed.",
              "color": "#A0A0A0",
              "type": 0
            }
          }
        }

## Add Tests to Cycle  [/public/rest/api/1.0/executions/add/cycle/{cycleId}]
### Add Tests to Cycle  [POST]
Adds Tests(s) to a Cycle. Users can assign all executions to an individual while adding test to cycle.Users can add tests to cycle by following options. <ol><li>Individually by passing array of issueKeys (method passed in the request should be 1).</li><li>By JQL (method passed in the request should be 2).</li><li>3. From Another Cycle using various filters (method passed in the request should be 3). For e.g. filters test based on fromVersionId/fromCycleId/priorities/statuses  {"versionId":11300,"fromVersionId":"11300","fromCycleId":"0001481179874128-242ac112-0001","priorities":"1","statuses":"4","components":"","labels":"","hasDefects":false,"projectId":11300,"method":"3","assigneeType":"currentUser"}</li></ol>
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr> <td>issues</td> <td>String Array</td> <td>[&quot;TEST-1&quot;]</td> <td>Y (if method = 1) else N</td> </tr> <tr> <td>jql</td> <td>String</td> <td>project = DEMO AND type = Test AND reporter = admin</td> <td>Y (if method = 2) else N</td> </tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td><td>Y</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr><tr> <td>fromVersionId</td> <td>Integer</td> <td>-1</td><td>Y (if method = 3) else N</td></tr><tr> <td>fromCycleId</td> <td>String</td> <td>-0001484006184518-242ac112-0001</td><td>Y (if method = 3) else N</td></tr> <tr> <td>statuses</td> <td>String</td> <td>-1</td><td>N (can be used when method = 3)</td></tr> <tr> <td>priorities</td> <td>String</td> <td>1,4</td><td>N (can be used when method = 3) else N</td></tr><tr> <td>labels</td> <td>String</td> <td>-High,dock</td><td>N (can be used when method = 3)</td></tr><tr> <td>method</td> <td>String</td> <td>&quot;1&quot;</td><td>Y</td> </tr> </tbody></table> 


+ Parameters
    + cycleId (required,  String) ... cycleId of Execution


+ Request (application/json)

        {"projectId":"10930","versionId":12829,"issueId":"17295","assigneeType":"currentUser"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"timeTaken":"0 min, 0 sec","stepMessage":null,"summaryMessage":null,"progress":1.0,"message":"{\"success\":[\"<a target='_parent' href='http://192.168.1.68:2990/jira/browse/TEST-1'>TEST-1</a>\"]}","stepMessages":[]}



## Add Tests to Folder  [/public/rest/api/1.0/executions/add/folder/{folderId}]
### Add Tests to Folder  [POST]
Adds Tests(s) to a Folder. Users can assign all executions to an individual while adding test to cycle/folder. Users can add tests to folder by following options. <ol><li>Individually by passing array of issueKeys (method passed in the request should be 1).</li><li>By JQL Search filter (method passed in the request should be 2).</li><li>3. From Another folder using various filters (method passed in the request should be 3). For e.g. filters test based on fromVersionId/fromCycleId/priorities/statuses


+ Parameters
    + folderId (required,  String) ... folderId of Execution


+ Request (application/json)

        {"issues":["FSC-2","FSC-3"],"assigneeType":"currentUser","method":1,"versionId":12829,"projectId":10930,"cycleId":"0001513838430954-242ac112-0001"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        0001456663770473-5a6ee13a3f6d-0001


## Create Execution [/public/rest/api/1.0/execution]
### Create Execution [POST]
Creates an execution from a JSON representation. An execution can be assigned to a user using the assigneeType. assigneeType can be currentUser/assignee. If no cycleId is passed, it would create it under an Adhoc Cycle 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td> </tr> <tr> <td>status</td> <td>Object</td> <td>{&quot;id&quot;:1}</td> <td>N</td></tr> <tr> <td>id</td> <td>String</td> <td>0001456664462103-5a6ee13a3f6b-0001</td> <td>N</td></tr> <tr> <td>projectId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>issueId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> <tr> <td>cycleId</td> <td>String</td> <td>0001456664262308-5a6ee13a3f6b-0001</td> <td>N</td></tr> <tr> <td>versionId</td> <td>Integer</td> <td>-1</td> <td>Y</td></tr> <tr> <td>assigneeType</td> <td>String</td> <td>currentUser/assignee</td> <td>N</td></tr><tr> <td>assignee</td> <td>String</td> <td>assigneeName (if assigneeType is assignee)</td> <td>N</td></tr> </tbody></table> 



+ Request (application/json)

        {"status":{"id":1},"id":"0001456664462103-5a6ee13a3f6b-0001","projectId":10000,"issueId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","versionId":-1,,"assigneeType":"assignee","assignee":"jiraUserKey"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"execution":{"id":"0001456664462103-5a6ee13a3f6b-0001","issueId":10000,"versionId":-1,"projectId":10000,"cycleId":"0001456664262308-5a6ee13a3f6b-0001","orderId":1,"executedBy":"admin","executedByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","executedOn":"02-28-2016 05:03:57","modifiedBy":"admin","modifiedByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","createdBy":"admin","createdByAccountId":"123456:1234abcd-1234-abcd-1234-1234abcd1234","status":{"name":"PASS","id":1,"description":"Test was executed and passed successfully.","color":"#75B000","type":0},"cycleName":"Manual","defects":[],"stepDefects":[],"executionDefectCount":0,"stepDefectCount":0,"totalDefectCount":0,"tenantKey":"amlyYTphN2VkOTUxZi1lZjg5LTQ0ZDktODJlZi1mMjM4YjRkY2FiN2I=","creationDate":"02-28-2016 05:01:02","issueIndex":10000,"projectCycleVersionIndex":"10000_0001456664262308-5a6ee13a3f6b-0001_-1","executionStatusIndex":1,"projectIssueCycleVersionIndex":"10000_10000_0001456664262308-5a6ee13a3f6b-0001_-1"},"issueKey":"TEST-1","issueLabel":"","component":"","issueSummary":"AAA","projectName":"Test","versionName":"Unscheduled","priority":"Medium","executedByDisplayName":"admin","testStepBeans":null,"defectsAsString":"","projectKey":"TEST"}

## Get execution statuses  [/public/rest/api/1.0/execution/statuses]
### Get execution statuses  [GET]
 Get all execution statuses  



+ Request (application/json)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0},{"name":"PASS","id":1,"description":"Test was executed and passed successfully.","color":"#75B000","type":0},{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},{"name":"WIP","id":3,"description":"Test execution is a work-in-progress.","color":"#F2B000","type":0},{"name":"BLOCKED","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#6693B0","type":0}]


## Update Executions in Bulk [/public/rest/api/1.0/executions]
### Update Executions in Bulk [POST]
Updates all the execution(s) that fits in the search criteria 
 <table width="100%" border="1"> <tbody> <tr> <td colspan="3"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td> </tr> <tr> <td>executions</td> <td>String Array</td> <td>[&quot;0001462834520641-242ac112b-0001&quot;,&quot;0001462834520819-242ac112b-0001&quot;,&quot;0001462834521014-242ac112b-0001&quot;]</td> </tr> <tr> <td>status</td> <td>Integer</td> <td>1</td> </tr> <tr> <td>clearDefectMappingFlag</td> <td>Boolean</td> <td>false</td> </tr> <tr> <td>testStepStatusChangeFlag</td> <td>Boolean</td> <td>true</td> </tr> <tr> <td>stepStatus</td> <td>Integer</td> <td>-1</td> </tr> </tbody></table> 



+ Request (application/json)

        {"executions":["0001462834520641-242ac112b-0001","0001462834520819-242ac112b-0001","0001462834521014-242ac112b-0001"],"status":1,"clearDefectMappingFlag":false,"testStepStatusChangeFlag":true,"stepStatus":-1}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"timeTaken":"0 min, 0 sec","stepMessage":"","summaryMessage":"","errorMessage":"","progress":1.0,"message":"{\"success\":\"0001462834520641-242ac112b-0001,0001462834520819-242ac112b-0001,0001462834521014-242ac112b-0001\",\"error\":\"\"}","stepLabel":"","stepMessages":[]}


## Get Execution Summary of the Issues by Sprint [/public/rest/api/1.0/executions/search/sprint/{sprintId}/issues]
### Get Execution Summary of the Issues by Sprint [POST]
Retrieves the execution summary of the issue(s) in the sprint of sprintId 


+ Parameters
    + sprintId (required,  Long) ... sprintId of Execution


+ Request (application/json)

        {"issueIdOrKeys":"12800,13821"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"successful":{"13821":{"totalExecutions":10,"action":"collapse","totalExecuted":8,"totalOpenDefectCount":1,"executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"},{"count":1,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The test execution of this test was blocked for some reason.","executionStatusColor":"#6693B0"},{"count":1,"executionStatusKey":20,"executionStatusName":"ASSIGNED","executionStatusDescription":"","executionStatusColor":"#15BD31"},{"count":2,"executionStatusKey":22,"executionStatusName":"PENDING","executionStatusDescription":"","executionStatusColor":"#11494C"},{"count":2,"executionStatusKey":7,"executionStatusName":"VERIFIED","executionStatusDescription":"","executionStatusColor":"#C41440"},{"count":1,"executionStatusKey":23,"executionStatusName":"WIP","executionStatusDescription":"","executionStatusColor":"#F70A4E"},{"count":1,"executionStatusKey":15,"executionStatusName":"LINKED","executionStatusDescription":"","executionStatusColor":"#01FD0C"}],"totalDefectCount":3}}}


## Export execution download [/public/rest/api/1.0/executions/export/download/{fileName}]
### Export execution download [GET]
Download file with Execution data. 


+ Parameters
    + fileName (required,  String) ... fileName of Execution


+ Request (application/json)



    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/x-download)



## Get List of Executions By Cycle  [/public/rest/api/1.0/executions/search/cycle/{cycleId}{?versionId,expand,offset,size,sortOrder,action,sortBy,projectId}]
### Get List of Executions By Cycle - V1 [GET]
Retrieves execution(s) by CycleId. 
 Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions.  


+ Parameters
    + versionId (required,  Long) ... versionId of Execution
    + expand (optional, String) ... expand of Execution
    + offset (optional, Integer) ... offset of Execution
    + size (optional, Integer) ... size of Execution
    + sortOrder (optional,  String ) ... sortOrder of Execution
    + cycleId (required,  String) ... cycleId of Execution
    + action (optional, String) ... action of Execution
    + sortBy (optional,  String ) ... sortBy of Execution
    + projectId (required,  Long) ... projectId of Execution


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"searchObjectList":[],"totalCount":0,"currentOffset":1,"executionStatus":{"-1":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0},"1":{"name":"PASS","id":1,"description":"Test was executed and passed successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test execution is a work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#6693B0","type":0}},"stepExecutionStatus":null}



## Get List of Executions By Cycle - V2 [/public/rest/api/2.0/executions/search/cycle/{cycleId}{?versionId,expand,offset,size,sortOrder,action,sortBy,projectId}]
### Get List of Executions By Cycle - V2 [GET]
Retrieves execution(s) by CycleId. API that supports retrieval of Custom Fields
 Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions.  


+ Parameters
    + versionId (required,  Long) ... versionId of Execution
    + expand (optional, String) ... expand of Execution
    + offset (optional, Integer) ... offset of Execution
    + size (optional, Integer) ... size of Execution
    + sortOrder (optional,  String ) ... sortOrder of Execution
    + cycleId (required,  String) ... cycleId of Execution
    + action (optional, String) ... action of Execution
    + sortBy (optional,  String ) ... sortBy of Execution
    + projectId (required,  Long) ... projectId of Execution


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"searchResult":{"searchObjectList":[{"warningMessage":null,"originMessage":null,"execution":{"id":"adbd9d4b-bb66-46fc-a165-dbc96e4ca914","issueId":10066,"versionId":10008,"projectId":10002,"cycleId":"3474de03-d1cf-406c-acf8-80cad6e30d91","orderId":1,"comment":"Failed to Connect to Remote Host","executedBy":"admin","executedByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","executedOn":"12-15-2018 17:44:28","modifiedBy":"admin","modifiedByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","createdBy":"admin","createdByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","status":{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},"cycleName":"Manual","assignedTo":"admin","defects":[{"id":10063,"key":"QA-48","summary":"Defect 1 Created","status":{"self":"https://qacapture-dev.atlassian.net/rest/api/2/status/10000","name":"To Do","id":10000,"description":"","iconUrl":"https://qacapture-dev.atlassian.net/"},"iconUrl":"https://qacapture-dev.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10303&avatarType=issuetype"}],"stepDefects":[],"executionDefectCount":1,"stepDefectCount":0,"totalDefectCount":1,"creationDate":"12-15-2018 16:12:05","executedByZapi":false,"assignedOn":"12-15-2018 16:12:05","customFieldValues":[{"customFieldId":"4929fd1d-c340-4f00-8948-e910636a70df","value":{"value":"Manual"},"fieldType":"RADIO_BUTTON","disabled":null},{"customFieldId":"90a5a1b1-8d4e-41ec-bc78-7a797776a997","value":{"value":["Dev"]},"fieldType":"MULTI_SELECT","disabled":null}],"issueIndex":10066,"projectCycleVersionIndex":"10002_3474de03-d1cf-406c-acf8-80cad6e30d91_10008","executionStatusIndex":2,"projectIssueCycleVersionIndex":"10002_10066_3474de03-d1cf-406c-acf8-80cad6e30d91_10008"},"issueKey":"QA-50","issueLabel":"","component":"","issueSummary":"asdsdasd","issueDescription":null,"projectName":null,"versionName":null,"priority":null,"priorityIconUrl":null,"executedByDisplayName":"Nirav Shah","assigneeType":null,"assignedToDisplayName":"Nirav Shah","testStepBeans":null,"defectsAsString":null,"projectKey":null,"plannedExecutionTimeFormatted":null,"actualExecutionTimeFormatted":null,"executionWorkflowStatus":null,"workflowLoggedTimedIncreasePercentage":"0.00","workflowCompletePercentage":"0.00","versionReleased":null,"customFieldValuesAsString":null,"executionWorkflowEnabled":true}],"summaryList":null,"totalCount":2,"currentOffset":1,"maxAllowed":50,"sortBy":null,"sortOrder":null,"executionStatus":{"1":{"name":"PASS","id":1,"description":"Test was executed and passed successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test execution is a work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#6693B0","type":0},"-1":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0}},"stepExecutionStatus":null},"cycleSummary":{"totalExecutionTime":115200,"totalCycleExecutions":2,"totalDefects":1,"totalLoggedTime":28800,"totalExecutions":5,"totalLoggedTimeFormatted":"1d","totalExecutionTimeFormatted":"4d","totalExecuted":2,"totalCycleExecuted":1,"class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","executionSummaries":[{"count":3,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"},{"count":1,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test was executed and failed.","executionStatusColor":"#CC3300"},{"count":1,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The test execution of this test was blocked for some reason.","executionStatusColor":"#6693B0"}],"executionsAwaitingLog":3}}


## Get List of Executions For Folder - V1  [/public/rest/api/1.0/executions/search/folder/{folderId}{?versionId,expand,offset,size,sortOrder,action,sortBy,projectId,cycleId}]
### Get List of Executions for Folder - V1  [GET]
Retrieves execution(s) by folderId. 
 Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions.  


+ Parameters
    + folderId (required,  String) ... folderId of Execution
    + versionId (required,  Long) ... versionId of Execution
    + expand (optional, String) ... expand of Execution
    + offset (optional, Integer) ... offset of Execution
    + size (optional, Integer) ... size of Execution
    + sortOrder (optional,  String ) ... sortOrder of Execution
    + action (optional, String) ... action of Execution
    + sortBy (optional,  String ) ... sortBy of Execution
    + projectId (required,  Long) ... projectId of Execution
    + cycleId (required,  String) ... cycleId of Execution

+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"searchObjectList":[{"warningMessage":null,"originMessage":null,"execution":{"id":"0001513838650733-242ac112-0001","issueId":17294,"versionId":12829,"projectId":10930,"cycleId":"0001513838430954-242ac112-0001","orderId":1,"createdBy":"qa","status":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0},"cycleName":"Cycle01","assignedTo":"qa","defects":[],"stepDefects":[],"creationDate":"12-21-2017 15:29:10","executedByZapi":false,"assignedOn":"12-21-2017 15:29:10","folderId":"0001513838591890-242ac112-0001","folderName":"Folder01","issueIndex":17294,"projectCycleVersionIndex":"10930_0001513838430954-242ac112-0001_12829","executionStatusIndex":-1,"projectIssueCycleVersionIndex":"10930_17294_0001513838430954-242ac112-0001_12829"},"issueKey":"FSC-2","issueLabel":"","component":"","issueSummary":"Test API","issueDescription":null,"projectName":null,"versionName":null,"priority":null,"priorityIconUrl":null,"executedByDisplayName":"","assigneeType":null,"assignedToDisplayName":"Zephyr QA","testStepBeans":null,"defectsAsString":null,"projectKey":null},{"warningMessage":null,"originMessage":null,"execution":{"id":"0001513838651298-242ac112-0001","issueId":17295,"versionId":12829,"projectId":10930,"cycleId":"0001513838430954-242ac112-0001","orderId":1,"createdBy":"qa","status":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0},"cycleName":"Cycle01","assignedTo":"qa","defects":[],"stepDefects":[],"creationDate":"12-21-2017 15:29:11","executedByZapi":false,"assignedOn":"12-21-2017 15:29:11","folderId":"0001513838591890-242ac112-0001","folderName":"Folder01","issueIndex":17295,"projectCycleVersionIndex":"10930_0001513838430954-242ac112-0001_12829","executionStatusIndex":-1,"projectIssueCycleVersionIndex":"10930_17295_0001513838430954-242ac112-0001_12829"},"issueKey":"FSC-3","issueLabel":"","component":"","issueSummary":"Test UI","issueDescription":null,"projectName":null,"versionName":null,"priority":null,"priorityIconUrl":null,"executedByDisplayName":"","assigneeType":null,"assignedToDisplayName":"Zephyr QA","testStepBeans":null,"defectsAsString":null,"projectKey":null}],"summaryList":null,"totalCount":2,"currentOffset":1,"maxAllowed":50,"sortBy":null,"sortOrder":null,"executionStatus":{"1":{"name":"PASSED","id":1,"description":"Test was executed and passed successfully.- edited","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},"3":{"name":"WIP ","id":3,"description":"Test execution is a work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED26","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#C41494","type":0},"5":{"name":"wd","id":5,"description":"","color":"#E7E867","type":1},"6":{"name":"Later","id":6,"description":"","color":"#FB06D6","type":1},"7":{"name":"CTest ","id":7,"description":"Adding CTest -edited","color":"#d61a66","type":1},"8":{"name":"Ptest","id":8,"description":"","color":"#4D4FE9","type":1},"9":{"name":"status123","id":9,"description":"","color":"#b82e89","type":1},"10":{"name":"~~!@#$%^","id":10,"description":"","color":"#9e24d4","type":1},"11":{"name":"2017","id":11,"description":"","color":"#8c1ad4","type":1},"12":{"name":"구글 번역","id":12,"description":"","color":"#e00f0f","type":1},"13":{"name":"abc123!@","id":13,"description":"","color":"#A1DAEB","type":1},"-1":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0}},"stepExecutionStatus":null}


## Get List of Executions for Folder - Latest [/public/rest/api/2.0/executions/search/folder/{folderId}{?versionId,expand,offset,size,sortOrder,action,sortBy,projectId,cycleId}]
### Get List of Executions for Folder - Latest [GET]
Retrieves execution(s) by FolderId. 
 Executions are fetched in a paginated fashion in a batch of 50. Users can use the offset and totalCount parameters to make a paginated call to retrieve all executions.  


+ Parameters
    + folderId (required,  String) ... folderId of Execution
    + versionId (required,  Long) ... versionId of Execution
    + expand (optional, String) ... expand of Execution
    + offset (optional, Integer) ... offset of Execution
    + size (optional, Integer) ... size of Execution
    + sortOrder (optional,  String ) ... sortOrder of Execution
    + cycleId (required,  String) ... cycleId of Execution
    + action (optional, String) ... action of Execution
    + sortBy (optional,  String ) ... sortBy of Execution
    + projectId (required,  Long) ... projectId of Execution


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"searchResult":{"searchObjectList":[{"warningMessage":null,"originMessage":null,"execution":{"id":"08dcb3dc-4cd5-4864-a880-db7fa3e10b6d","issueId":10071,"versionId":10008,"projectId":10002,"cycleId":"3474de03-d1cf-406c-acf8-80cad6e30d91","orderId":1,"comment":"> Login Failed","executedBy":"admin","executedByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","executedOn":"12-08-2018 02:29:08","modifiedBy":"admin","modifiedByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","createdBy":"admin","createdByAccountId":"557058:01b3a732-1bdb-444a-84bb-bcaa9882a91d","status":{"name":"BLOCKED","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#6693B0","type":0},"cycleName":"Manual","assignedTo":"admin","defects":[{"id":10063,"key":"QA-48","summary":"Defect 1 Created","status":{"self":"https://qacapture-dev.atlassian.net/rest/api/2/status/10000","name":"To Do","id":10000,"description":"","iconUrl":"https://qacapture-dev.atlassian.net/"},"iconUrl":"https://qacapture-dev.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10303&avatarType=issuetype"}],"stepDefects":[],"executionDefectCount":1,"stepDefectCount":0,"totalDefectCount":1,"creationDate":"12-08-2018 01:42:22","executedByZapi":false,"assignedOn":"12-15-2018 15:53:11","folderId":"a9d23e06-c730-4564-a3d7-e981c87fb997","folderName":"Component","customFieldValues":[{"customFieldId":"4929fd1d-c340-4f00-8948-e910636a70df","value":{"value":"Manual"},"fieldType":"RADIO_BUTTON","disabled":null},{"customFieldId":"90a5a1b1-8d4e-41ec-bc78-7a797776a997","value":{"value":["Stage"]},"fieldType":"MULTI_SELECT","disabled":null}],"plannedExecutionTime":57600,"actualExecutionTime":28800,"workflowStatus":"STARTED","issueIndex":10071,"projectCycleVersionIndex":"10002_3474de03-d1cf-406c-acf8-80cad6e30d91_10008","executionStatusIndex":4,"projectIssueCycleVersionIndex":"10002_10071_3474de03-d1cf-406c-acf8-80cad6e30d91_10008"},"issueKey":"QA-51","issueLabel":"","component":"","issueSummary":"Validate Login to License Server","issueDescription":null,"projectName":null,"versionName":null,"priority":null,"priorityIconUrl":null,"executedByDisplayName":"Zephyr TM","assigneeType":null,"assignedToDisplayName":"Zephyr TM","testStepBeans":null,"defectsAsString":null,"projectKey":null,"plannedExecutionTimeFormatted":"2d","actualExecutionTimeFormatted":"1d","executionWorkflowStatus":"STARTED","workflowLoggedTimedIncreasePercentage":"100.00","workflowCompletePercentage":"50.00","versionReleased":null,"customFieldValuesAsString":null,"executionWorkflowEnabled":true}],"summaryList":null,"totalCount":3,"currentOffset":1,"maxAllowed":50,"sortBy":null,"sortOrder":null,"executionStatus":{"1":{"name":"PASS","id":1,"description":"Test was executed and passed successfully.","color":"#75B000","type":0},"2":{"name":"FAIL","id":2,"description":"Test was executed and failed.","color":"#CC3300","type":0},"3":{"name":"WIP","id":3,"description":"Test execution is a work-in-progress.","color":"#F2B000","type":0},"4":{"name":"BLOCKED","id":4,"description":"The test execution of this test was blocked for some reason.","color":"#6693B0","type":0},"-1":{"name":"UNEXECUTED","id":-1,"description":"The test has not yet been executed.","color":"#A0A0A0","type":0}},"stepExecutionStatus":null},"folderSummary":{"totalExecutionTime":57600,"totalDefects":1,"totalLoggedTime":28800,"totalExecutions":3,"totalLoggedTimeFormatted":"1d","totalExecutionTimeFormatted":"2d","totalExecuted":1,"class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"},{"count":1,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The test execution of this test was blocked for some reason.","executionStatusColor":"#6693B0"}],"executionsAwaitingLog":2},"cycleSummary":{"totalExecutionTime":115200,"totalCycleExecutions":2,"totalDefects":1,"totalLoggedTime":28800,"totalExecutions":5,"totalLoggedTimeFormatted":"1d","totalExecutionTimeFormatted":"4d","totalExecuted":3,"totalCycleExecuted":2,"class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"},{"count":1,"executionStatusKey":1,"executionStatusName":"PASS","executionStatusDescription":"Test was executed and passed successfully.","executionStatusColor":"#75B000"},{"count":1,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test was executed and failed.","executionStatusColor":"#CC3300"},{"count":1,"executionStatusKey":4,"executionStatusName":"BLOCKED","executionStatusDescription":"The test execution of this test was blocked for some reason.","executionStatusColor":"#6693B0"}],"executionsAwaitingLog":3}}

# Group Folder
Folder Resource

## Get Folder  [/public/rest/api/1.0/folder/{folderId}{?versionId,expand,cycleId,projectId}]
### Get Folder  [GET]
Returns a full representation of the Folder for the given folderId.
 A Folder JSON consists of the folder details and an expandos driven executionSummaries for the folder. 


+ Parameters
    + versionId (required, Long) ... versionId of Folder
    + expand (optional, String) ... expand of Folder
    + cycleId (required, String) ... cycleId of Folder
    + projectId (required, Long) ... projectId of Folder
    + folderId (required, String) ... folderId of Folder


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"modifiedTime":1500542720855,"versionId":10001,"createdBy":"admin","tenantKey":"amlyYTozNDBmMjc0ZS0wZTkxLTRmZTktYWZjNy05YzE5MmNlODk3YWY=","name":"Folder1","cycleId":"0001500456316270-985aebc9ffffb0c1-0001","description":"Folder for first phase","createdTime":1500542715855,"modifiedBy":"admin","id":"0001500540949406-985aebc9ffffb0c1-0001","ztId":"0001478586826516-242ac112-0001","projectId":10000}


## Get List of Folders  [/public/rest/api/1.0/folders{?versionId,expand,cycleId,projectId}]
### Get List of Folders  [GET]
Returns a list of folder(s) for a given project, version and cycle along with grouped executions. 


+ Parameters
    + versionId (required,  Long) ... versionId of Folder
    + expand (optional, String) ... expand of Folder
    + cycleId (required, String) ... cycleId of Folder
    + projectId (required,  Long) ... projectId of Folder


+ Request (text/plain)

        


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        [{"modifiedTime":null,"offset":"0","tenantKey":"amlyYTo5YTkzNDk1Yi0xMTIxLTQyZTYtYjIxMS02MmRjZmQ5MzQ4MjU=","totalExecutions":2,"cycleId":"0001513838430954-242ac112-0001","description":"Forler 01 for first cycle","totalExecuted":0,"ztId":"0001454342699134-242ac112-0001","nodeType":"folder","createdByDisplayName":{"defined":true,"orNull":"Zephyr QA","empty":false},"sprintId":null,"versionId":12829,"totalDefects":0,"createdBy":"qa","name":"Folder01","createdTime":1513838591890,"action":"collapse","modifiedBy":null,"id":"0001513838591890-242ac112-0001","cycleName":"Cycle01","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10930,"executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"}]},{"modifiedTime":null,"offset":"0","tenantKey":"amlyYTo5YTkzNDk1Yi0xMTIxLTQyZTYtYjIxMS02MmRjZmQ5MzQ4MjU=","totalExecutions":0,"cycleId":"0001513838430954-242ac112-0001","description":"Folder 02","totalExecuted":0,"ztId":"0001454342699134-242ac112-0001","nodeType":"folder","createdByDisplayName":{"defined":true,"orNull":"Zephyr QA","empty":false},"sprintId":null,"versionId":12829,"totalDefects":null,"createdBy":"qa","name":"Folder02","createdTime":1513838704523,"action":"collapse","modifiedBy":null,"id":"0001513838704523-242ac112-0001","cycleName":"Cycle01","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10930,"executionSummaries":[{"count":0,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"},{"count":0,"executionStatusKey":1,"executionStatusName":"PASSED","executionStatusDescription":"Test was executed and passed successfully.- edited","executionStatusColor":"#75B000"},{"count":0,"executionStatusKey":2,"executionStatusName":"FAIL","executionStatusDescription":"Test was executed and failed.","executionStatusColor":"#CC3300"},{"count":0,"executionStatusKey":3,"executionStatusName":"WIP ","executionStatusDescription":"Test execution is a work-in-progress.","executionStatusColor":"#F2B000"},{"count":0,"executionStatusKey":4,"executionStatusName":"BLOCKED26","executionStatusDescription":"The test execution of this test was blocked for some reason.","executionStatusColor":"#C41494"},{"count":0,"executionStatusKey":5,"executionStatusName":"wd","executionStatusDescription":"","executionStatusColor":"#E7E867"},{"count":0,"executionStatusKey":6,"executionStatusName":"Later","executionStatusDescription":"","executionStatusColor":"#FB06D6"},{"count":0,"executionStatusKey":7,"executionStatusName":"CTest ","executionStatusDescription":"Adding CTest -edited","executionStatusColor":"#d61a66"},{"count":0,"executionStatusKey":8,"executionStatusName":"Ptest","executionStatusDescription":"","executionStatusColor":"#4D4FE9"},{"count":0,"executionStatusKey":9,"executionStatusName":"status123","executionStatusDescription":"","executionStatusColor":"#b82e89"},{"count":0,"executionStatusKey":10,"executionStatusName":"~~!@#$%^","executionStatusDescription":"","executionStatusColor":"#9e24d4"},{"count":0,"executionStatusKey":11,"executionStatusName":"2017","executionStatusDescription":"","executionStatusColor":"#8c1ad4"},{"count":0,"executionStatusKey":12,"executionStatusName":"구글 번역","executionStatusDescription":"","executionStatusColor":"#e00f0f"},{"count":0,"executionStatusKey":13,"executionStatusName":"abc123!@","executionStatusDescription":"","executionStatusColor":"#A1DAEB"}]}]


## Delete Folder  [/public/rest/api/1.0/folder/{folderId}{?versionId,cycleId,projectId}]
### Delete Folder  [DELETE]
Deletes the Folder. All the entities including executions will be deleted along with the Folder. 


+ Parameters
    + versionId (required, Long) ... versionId of Folder
    + cycleId (required, String) ... cycleId of Folder
    + projectId (required, Long) ... projectId of Folder
    + folderId (required, String) ... folderId of Folder


+ Request (text/plain)

        {"projectId":10000,"versionId":"10001","cycleId":"0001500456316270-985aebc9ffffb0c1-0001","folderId":"0001200345678910-985aebc9ffffb0c1-0001"}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {folder 0001200345678910-985aebc9ffffb0c1-0001 successfully deleted


## Folder Update [/public/rest/api/1.0/folder/{folderId}]
### Folder Update [PUT]
Update an existing Folder from a JSON representation. 


+ Parameters
    + folderId (required, String) ... folderId of Folder


+ Request (application/json)

        {"name":"Folder011","description":"Forler 01 for first cycle","cycleId":"0001513838430954-242ac112-0001","versionId":12829,"projectId":10930}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

        {"modifiedTime":1513838814914,"offset":"0","tenantKey":"amlyYTo5YTkzNDk1Yi0xMTIxLTQyZTYtYjIxMS02MmRjZmQ5MzQ4MjU=","totalExecutions":2,"cycleId":"0001513838430954-242ac112-0001","description":"Forler 01 for first cycle","totalExecuted":0,"ztId":"0001454342699134-242ac112-0001","nodeType":"folder","sprintId":null,"versionId":12829,"totalDefects":0,"createdBy":"qa","name":"Folder011","createdTime":1513838591890,"action":"collapse","modifiedBy":"qa","id":"0001513838591890-242ac112-0001","class":"com.thed.zephyr.connect.vo.GroupedExecutionSummary","projectId":10930,"executionSummaries":[{"count":2,"executionStatusKey":-1,"executionStatusName":"UNEXECUTED","executionStatusDescription":"The test has not yet been executed.","executionStatusColor":"#A0A0A0"}]}


## Create Folder [/public/rest/api/1.0/folder{?expand,clonedFolderId}]
### Create Folder [POST]
Creates a Folder from a JSON representation. Folder names within a cycle needs to be unique. Ad hoc cycles will not be allowed to create Folder.    

<table width="100%" border="1"> <tbody> <tr> <td colspan="4"><strong> JSON Object Details</strong></td> </tr> <tr> <td><strong>Parameter</strong></td> <td><strong>Type</strong></td> <td><strong>Value</strong></td><td><strong>Required</strong></td>  </tr> <tr> <td>name</td> <td>String</td> <td>Folder 01</td><td>Y</td></tr>  <tr> <td>description</td> <td>String</td> <td>Create New Folder </td> <td>N</td></tr>  <tr> <td>cycleId</td> <td>String</td> <td>0001513838430954-242ac112-0001</td> <td>Y</td></tr>  <tr> <td>projectId</td> <td>Integer</td> <td>10100</td> <td>Y</td></tr>  <tr> <td>versionId</td> <td>Integer</td> <td>10000</td> <td>Y</td></tr> </tbody></table>

+ Parameters
    + expand (optional, String) ... expand of Folder
    + clonedFolderId (optional, String) ... clonedFolderId of Folder


+ Request (application/json)

        {"name":"Folder01","description":"Forler 01 for first cycle","cycleId":"0001513838430954-242ac112-0001","versionId":12829,"projectId":10930}


    + Headers

                Authorization: JWT eyJhbGciOiJIUzI1NiI...
                zapiAccessKey: amlyYTo3YjU3OTBhN...


+ Response 200 (application/json)

[...]
